<style>
    .mDiv {
        background-color: #FFF;
        color: #333;
        white-space: nowrap;
        display: block;
        border-bottom: solid 1px #C8C8C8;
        position: relative;
        z-index: 4;
        height: 30px;
    }
    .pReload {
        color: #999;
        background-color: #FFF;
        width: 24px;
        height: 24px;
        float: left;
        text-align: center;
        line-height: 24px;
        margin: 0 0 0 20px;
        position: relative;
        z-index: 1;
    }
</style>
<div class="panel panel-default panel-intro">
    {:build_heading()}

    <div class="panel-body">
        <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade active in" id="one">
                <div class="widget-body no-padding">
                    <div id="toolbar" class="toolbar">
                        <a href="javascript:;" class="btn btn-primary btn-refresh" title="{:__('Refresh')}" ><i class="fa fa-refresh"></i> </a>
                        <a href="{:Url('freight/template/add')}" class="add btn btn-success btn-add {:$auth->check('freight/template/add')?'':'hide'}" title="{:__('Add')}" ><i class="fa fa-plus"></i> {:__('Add')}</a>
                    </div>

                </div>
            </div>

        </div>
    </div>
    <div>
        {volist name="template_list" id="template"}
        <div class="flexigrid" style="width: 987px;">
            <div class="mDiv">
                <div class="ftitle">
                    <h3>{$template.template_name}</h3>
                </div>
                <div title="删除运费模板" data-template-id="{$template.template_id}" class="pReload delete_template"><i class="fa fa-trash-o"></i></div>
                <a href="{:Url('Freight/template/edit',['ids'=>$template.template_id])}"><div title="编辑运费模板" class="pReload"><i class="fa fa-pencil-square-o"></i></div></a>
            </div>
            <div class="hDiv">
                <div class="hDivBox">
                    <table cellspacing="0" cellpadding="0">
                        <thead>
                        <tr>
                            <th align="left" abbr="article_title" axis="col3" class="">
                                <div style="text-align: center; width: 300px;" class="">配送区域</div>
                            </th>
                            <th align="left" abbr="ac_id" axis="col4" class="">
                                <div style="text-align: center; width: 150px;" class="">首件(件)</div>
                            </th>
                            <th align="left" abbr="ac_id" axis="col4" class="">
                                <div style="text-align: center; width: 150px;" class="">运费(元)</div>
                            </th>
                            <th align="center" abbr="article_show" axis="col5" class="">
                                <div style="text-align: center; width: 150px;" class="">续件(件)</div>
                            </th>
                            <th align="center" abbr="article_time" axis="col6" class="">
                                <div style="text-align: center; width: 150px;" class="">运费(元)</div>
                            </th>
                        </tr>
                        </thead>
                    </table>
                </div>
            </div>
            <div class="bDiv" style="height: auto;">
                <div>
                    <table>
                        <tbody>
                        {volist name="template.freight_config" id="config" offset="0" length="5"}
                        <tr>
                            <td align="left" class="">
                                <div style="text-align: center; width: 300px;">
                                    {if condition="$config.is_default eq 1"}
                                    中国
                                    {else/}
                                    {volist name="config.freightRegion" id="freight_region"}
                                    {$freight_region.region.name},
                                    {/volist}
                                    {/if}
                                </div>
                            </td>
                            <td align="left" class="">
                                <div style="text-align: center; width: 150px;">{$config.first_unit}</div>
                            </td>
                            <td align="left" class="">
                                <div style="text-align: center; width: 150px;">{$config.first_money}</div>
                            </td>
                            <td align="left" class="">
                                <div style="text-align: center; width: 150px;">{$config.continue_unit}</div>
                            </td>
                            <td align="left" class="">
                                <div style="text-align: center; width: 150px;">{$config.continue_money}</div>
                            </td>
                        </tr>
                        {/volist}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        {/volist}
    </div>
</div>
